<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <h1>About DNW Smart Home Control Panel</h1>
        <p>
            DNW stands for Databases, Networks, the Web. It is one of the level 5
            classes in the University of London Computer Science BS degree. This
            project was completed for the midterm requirements of that class.

            Developer: Adam Walton
        </p>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>