<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body class="has-navbar-fixed-top">
    <%- include('./partials/header'); %>

    <main>
        <h1 class="is-size-1 has-text-centered">Device Updated!</h1>
        <div class="columns mt-4">
            <div class="column"></div>
            <div class="column is-four-fifths box">
                <div class="block">
                    <p>
                        You have successfully updated your device!
                    </p>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </main>

    <%- include('./partials/footer'); %>


</body>