<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body class="has-navbar-fixed-top">
    <%- include('./partials/header'); %>

    <main>
        <h1 class="is-size-1 has-text-centered">Welcome to the DNW Smart Home Control Panel</h1>
        <div class="columns mt-4">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div class="panel">
                    <p class="panel-heading">From here you can control all of the smart devices in your home.</p>
                    <h2 class="block is-size-4 ml-2">What would you like to do today?</h2>
                    <ul class="block">
                        <li class="panel">
                            <a href="/new-device" class="panel-block">Add a new device</a>
                        </li>
                        <li class="panel">
                            <a href="/status-selector" class="panel-block">Check the status of a device</a>
                        </li>
                        <li class="panel">
                            <a href="/control-device" class="panel-block">Remotely control a device</a>
                        </li>
                        <li class="panel">
                            <a href="/delete-device" class="panel-block">Remove a device from your Smart Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </main>

    <%- include('./partials/footer'); %>


</body>