<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <h1>Welcome to the DNW Smart Home Control Panel</h1>
        <p>From here you can control all of the smart devices in your home.</p>
        <h2>What would you like to do today?</h2>
        <ul>
            <li>
                Add a new device
            </li>
            <li>
                Check the status of a devices
            </li>
            <li>
                Remotely control a device
            </li>
            <li>
                Remove a device from your Smart Home
            </li>
        </ul>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>