<nav>
    <a href="/">DNW Smart Home</a>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/new-device">Add new device</a>
        </li>
    </ul>
</nav>